header{
	background-color: white;
	border-bottom: 1px solid #CCCCCC;
	height: 70px;
	display: flex;
	width:100%;
	align-items: center;
}

header .logo{
	width: 142px;
	height: 60px;
	background: url("https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/logo.png") no-repeat center;
	padding-left: 20px;
	}
